/* nav */

.container {
  display: flex;
  height: 100vh;
  background-color: rgb(231, 238, 244);
}
/* nav */
.nav {
  width: 15rem;
  background-color: rgb(59, 59, 159);
  /* height: 95vh; */
  margin: 1rem 0 1rem 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 4rem 0 0 2rem;
  line-height: 4rem;
  color: white;
  font-size: 14px;
}
.nav a {
  text-decoration: none;
  color: white;
  padding: 0;
}
.link {
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.link:hover {
  color: rgb(153, 171, 221);
  transition: 0.5s;
}
.link :nth-child(2) {
  margin: 0 0 4px 5px;
  padding-bottom: 3px;
}
h1 {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 1rem 3.5rem 1.5rem 3.5rem;
}
.firstPage h5 {
  margin-left: 3.4rem;
  font-weight: 300;
}

/* numbers and chart */
.firstPage {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.firstPage h1 {
  font-size: 1.5rem;
}

/* numbers */
.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 16px;
  margin-bottom: 2rem;
}
.box {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px gray;
}
.detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left :nth-child(1) {
  font-size: 20px;
}
.left :nth-child(2) {
  font-size: small;
}

.l3 :nth-child(1) {
  font-size: 10px;
  color: rgb(94, 200, 115);
}
.l3 :nth-child(2) {
  font-size: 10px;
}
.right {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 50px;
  background-image: linear-gradient(rgb(206, 206, 220), rgb(251, 252, 255));
}
/* chart */
.chart {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  height: 61vh;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 2px gray;
}

/* list */

.secondPage {
  background-color: rgb(255, 255, 255);
  height: 81vh;
  width: 97%;
  /* position: relative; */
  overflow: scroll;
  margin: 1rem;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 2px 2px 2px gray;
  /* background-color: green; */
}

.list {
  margin: 0 2rem 0.5rem 0;
  padding: 0.6rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid black;
  border-radius: 8px;
}
.p {
  text-decoration: none;
  color: black;
}
.name {
  display: flex;
  align-items: center;
}
.titleUser {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2.5rem 1.5rem 5.2rem;
  font-weight: 600;
}
.titleUser :nth-child(2) {
  font-size: 12px;
  color: gray;
  font-style: italic;
  font-weight: 300;
}
.list:hover {
  cursor: pointer;
  box-shadow: 3px 5px 8px black;
}
.hide {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.hide a {
  text-decoration: none;
  margin: 1rem 1rem 0 0;
  color: rgb(59, 59, 159);
  display: none;
}
.img {
  border-radius: 15px;
  width: 33px;
  margin-right: 1rem;
}

/* details */
.two {
  display: flex;
  justify-content: space-evenly;
  height: 90%;
  margin: 0;
}

.titlee {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem 0 0;
}
.detailsLeft {
  background-color: rgb(255, 255, 255);
  width: 70%;
  margin: 1rem;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 2px gray;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1rem;
  height: 100%;
}
.items :nth-child(1) {
  margin: 1.5rem 0;
}
.detailsImg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 2rem;
  border: 0.5px solid gray;
  box-shadow: 2px 2px 2px gray;
}
.img1 {
  width: 13rem;
}
.span {
  font-style: italic;
  font-weight: 500;
  color: gray;
}
.parentB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 1rem;
  background-color: rgb(231, 238, 244);
}
.boxes {
  width: 100%;
  height: 30%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  box-shadow: 2px 2px 2px gray;
}
.boxT {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.two h2,
.two h3 {
  font-weight: 500;
}

@media screen and (max-width: 720px) {
  .firstPage {
    align-items: center;
  }
  h1 {
    margin-top: 4rem;
  }
  .top {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 1rem;
    height: 100vh;
  }
  .nav {
    display: none;
  }
  .list {
    padding: 0.2rem;
  }
  .chart {
    padding: 1rem;
    width: 90%;
  }
  .hide a {
    display: initial;
  }
  .secondPage {
    width: 88%;
  }
  .firstPage h1 {
    text-align: left;
    width: 80%;
    margin: 10px 0 0 10px;
  }
  .hid {
    display: none;
  }
  /* details */
  .two {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .detailsLeft {
    margin-top: 23.9rem;
    width: 88%;
    height: 75%;
  }
  .parentB {
    align-items: center;
  }
  .boxes {
    width: 88%;
    margin-bottom: 2rem;
  }
  .boxT h3 {
    padding-bottom: 8px;
  }
}
